@mixin hard-shadow
  box-shadow: .3rem .5rem $primary

.opacity-2
  opacity: .4

.slick-slide
  transition: .3s
  margin: 0 1rem

.form-shortcut, .back-to-top
  cursor: pointer
  position: absolute
  display: none
  opacity: .8
  color: $primary
  font-weight: bold
  transition: .3s
  background: transparent
  background: white
  border: 2px solid $primary

  &:hover
    opacity: 1
    color: $yellow
    transform: translateY(-5px)

.back-to-top
  position: fixed
  bottom: 20px
  right: 20px


  &:hover
    color: $yellow
    transform: translateY(-5px)

.form-shortcut
  position: fixed
  bottom: 20px
  right: 80px
  color: $primary


.box-handdraw
  position: absolute
  z-index: 20
  top: 0
  left: 0
  width: 100%
  height: 100%
  transition: .3s

.box-handdraw__top
  position: absolute
  left: -5%
  width: 110%
  height: $box-handdraw-border-width
  background: $primary

.box-handdraw__bottom
  position: absolute
  left: -5%
  bottom: 0
  width: 110%
  height: $box-handdraw-border-width
  background: $primary

.box-handdraw__left
  position: absolute
  left: 0
  bottom: -5%
  width: $box-handdraw-border-width
  height: 110%
  background: $primary

.box-handdraw__right
  position: absolute
  right: 0
  bottom: -5%
  width: $box-handdraw-border-width
  height: 110%
  background: $primary


//debug block
.debug-block
  margin: 100px 0
  width: 100%
  height: 250px
  background: $light
  border: 5px dashed $primary
  text-align: center
  display: flex
  justify-content: center
  align-items: center

  &::before
    content: '=== 此區塊施工中 ==='
    font-size: 2rem
    color: $primary
    font-weight: bold

//highlight-box
.highlight-box
  display: inline-block
  font-size: 1.3rem
  font-weight: bold
  background: white
  color: $sub
  padding: .3rem 1rem

.bg-highlight
  color: black
  position: relative
  letter-spacing: 4px
  &::after
    z-index: -1
    content: ''
    display: block
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 40px
    background: $yellow

// contain headings
.title-box
  position: relative
  margin: 4rem auto
  margin-bottom: 2rem
  display: inline-block
  padding: 2rem
  background: white
  border: .2rem solid $primary
  border-radius: $border-radius
  +hard-shadow

  &::after
    content: ''
    position: absolute
    bottom: -15%
    left: 10%
    width: 0
    height: 0
    border-style: solid
    border-width: 1rem 1rem 0 1rem
    border-color: $primary transparent transparent transparent

  h2, h3
    z-index: 10
    display: inline-block
    position: relative
    font-weight: bold

  h3
    line-height: 1.5
    font-size: calc(.7rem + 0.7vw)

.title-box__inner
  background: $sub
  color: white
  border-bottom: 4px solid $primary
  padding: 1rem 0
  padding-top: 1.3rem
  margin-bottom: 1rem

.advantage-list
  font-size: 1.1rem
  letter-spacing: 2px
  list-style-type: none
  padding: 0
  margin: 0 3rem

  li
    font-size: calc(.8rem + 0.1vw)
    position: relative
    display: inline-block
    margin-right: .5rem


  i
    margin-right: 5px
    font-size: 1rem



// Big box before heading
.text-block
  line-height: 1.3
  margin-right: 1rem
  display: inline-block
  position: relative
  background: $sub
  color: white
  font-weight: bold
  white-space: nowrap
  width: 100px
  height: 100px

  div
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

// namecard
.namecard
  .slick-list
    overflow-x: hidden

.namecard__item
  overflow: hidden
  background: $light-gray
  min-width: 550px
  max-height: 300px
  border-radius: $border-radius
  transition: .3s

  img
    max-width: 250px

.namecard__item__content
  text-align: left
  padding: 1rem

  span
    display: inline-block
    color: gray
    margin-bottom: 1rem

  h3
    margin: 0
    font-weight: bold

  h4
    font-size: 1rem

.slick-current .namecard__item
  background: white

.feedback-card

  .slick-current
    .feedback-card__item
      border-color: $sub

      h4
        color: $light

    .feedback-card__top
      color: white
      position: relative
      border-color: $sub
      background: $sub

      &::after
        opacity: 1



.feedback-card__item
  position: relative
  max-width: 400px
  background: white
  border: 2px solid $primary
  margin: 0 2rem
  margin-bottom: 1rem
  border-radius: $border-radius
  transition: .3s

  h3
    font-weight: bold

  h4
    color: gray
    font-size: .9rem
    letter-spacing: 2px

  h5
    font-weight: bold


  time

.feedback-card__top
  border-bottom: 1px solid $primary
  padding: 1rem 1rem
  margin-bottom: 1.5rem
  transition: .3s

  &::after
    position: absolute
    left: 0
    content: ''
    display: block
    border-style: solid
    border-width: 30px 30px 0 30px
    border-color: $sub transparent transparent transparent
    transition: .3s
    opacity: 0

.feedback-card__body
  margin: 1rem

.feedback-card__rating
  color: $sub



//
// Bootstrap overwrite
//

//mark
mark, .mark
  font-weight: bold
  padding: 0.2em 0
  color: $sub
  background-color: transparent

.mark--yellow
  color: $sub

.mark--transparent
  padding: .2em
  color: $primary

// card
.card
  margin: 0 2rem
  text-align: center
  background: transparent
  border: 0

  img
    width: 100%

  h3
    letter-spacing: 2px
