//Import vars
@import "sass/variable"
//Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap"
//Import modules
@import "sass/modules"

body
  background: url('/images/bg.png') repeat center
  background-color: $light-gray
  font-family: 'Noto Sans TC', sans-serif

section
  margin: 6rem 0

.section-hero
  margin: 0
  height: 100vh
  background: lightgray
  color: white

  .jumbotron
    background: url("https://placekitten.com/g/1961/1080") no-repeat center fixed
    display: flex
    align-items: center
    height: 100%

.hero-list
  list-style-type: none
  padding: 0

  li
    position: relative
    display: inline-block
    margin-right: 2rem

    &::before
      content: ''
      position: absolute
      display: inline-block
      top: 50%
      left: -20px
      transform: translateY(-50%)
      width: 15px
      height: 15px
      background: url(../images/svg/icon-checked.svg) no-repeat center

.section-question
  margin-top: -5rem

.card-question
  .card
    max-width: 300px

.timeline
  padding: 50px 0
  position: relative

.timeline-nodes
  padding-bottom: 25px
  position: relative

  &:nth-child(even)
    flex-direction: row-reverse

.timeline
  h3, p
    padding: 5px 15px

  h3
    font-weight: bold


  p, time
    color: $primary

  &::before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 50%
    width: 0
    border-left: 2px dashed $sub
    height: 100%
    z-index: 1
    transform: translateX(-50%)

.timeline-content
  position: relative
  border-radius: 0 0 10px 10px


.timeline-nodes
  &:nth-child(odd)
    h3, p
      text-align: left

    .timeline-date
      text-align: left

  &:nth-child(even) .timeline-date
    text-align: right

  &:nth-child(odd) .timeline-content::after
    content: ""
    position: absolute
    top: 5%
    left: 100%
    width: 0
    border-left: 10px solid $primary
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent

  &:nth-child(even) .timeline-content::after
    content: ""
    position: absolute
    top: 5%
    right: 100%
    width: 0
    border-right: 10px solid $primary
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent

.timeline-image
  position: relative
  z-index: 100

  &::before
    content: ""
    width: 80px
    height: 80px
    border: 2px solid $primary
    border-radius: 50%
    display: block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: #fff
    z-index: 1

  div
    position: relative
    z-index: 100

  span
    font-size: 1.5rem

.section-prove
  background: url(/images/sectionbg-prove.jpg) no-repeat bottom
  background-size: cover

.section-data
  margin: 0
  background: red


.card-counter
  .card
    overflow: hidden
    max-width: 300px
    color: $primary
    border: .3rem solid $primary

  .card-body
    padding: 0
    margin-bottom: 1rem

  h3
    padding: 1rem 0
    background: $primary
    color: white
    font-size: 2rem
    font-weight: bold

  h4
    color: $sub
    font-weight: bold
    font-size: 3rem

  small
    font-size: 1.2rem

.section-video

.video-content
  &::before
    content: ''
    top: -10px
    left: -10px
    position: absolute
    display: block
    width: 20px
    height: 20px
    background: $sub

/*small device style

@media (max-width: 767px)
  .timeline-nodes
    &:nth-child(odd)
      h3, p
        text-align: left

    &:nth-child(even)
      flex-direction: row

  .timeline
    &::before
      content: ""
      display: block
      position: absolute
      top: 0
      left: 4%
      width: 0
      border-left: 2px dashed $primary
      height: 100%
      z-index: 1
      transform: translateX(-50%)

    h3
      font-size: 1.7rem

    p
      font-size: 14px

  .timeline-image
    position: absolute
    left: 0%
    top: 60px

    /*transform: translateX(-50%;);

  .timeline-nodes
    &:nth-child(odd) .timeline-content::after
      content: ""
      position: absolute
      top: 5%
      left: auto
      right: 100%
      width: 0
      border-left: 0
      border-right: 10px solid $primary
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent

    &:nth-child(even)
      .timeline-content::after
        content: ""
        position: absolute
        top: 5%
        right: 100%
        width: 0
        border-right: 10px solid $primary
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent

      .timeline-date
        text-align: left

  .timeline-image::before
    width: 65px
    height: 65px

/*extra small device style
@media (max-width: 575px)
  .timeline::before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 3%

  .timeline-image
    position: absolute
    left: -5%

    &::before
      width: 60px
      height: 60px

.gal
  -webkit-column-count: 3

  /* Chrome, Safari, Opera
  -moz-column-count: 3

  /* Firefox
  column-count: 3

  img
    width: 100%
    padding: 7px 0

@media (max-width: 500px)
  .gal
    -webkit-column-count: 1

    /* Chrome, Safari, Opera
    -moz-column-count: 1

    /* Firefox
    column-count: 1
