@charset "UTF-8"
@import "sass/movingBg"
@import "sass/variable"
@import "node_modules/bootstrap/scss/bootstrap"
@import "sass/modules"

html
  overflow-x: hidden

body
  font-family: 'Noto Sans TC', sans-serif
  color: $primary
  line-height: 1.8


.section-hero
  margin: 0
  height: 100vh
  color: white

  .jumbotron
    background-color: transparent
    display: flex
    align-items: center
    height: 100%

    &::before
      z-index: -1
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 100%
      background: black
      opacity: .7

.videoContainer
  z-index: -1
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  bottom: 0
  right: 0

  iframe
    width: 100%
    height: 100%


.hero-list
  font-size: 1.1rem
  letter-spacing: 2px
  list-style-type: none
  margin-left: 20px
  padding: 0

  li
    position: relative
    display: inline-block
    margin-right: 2rem

    &::before
      content: ''
      position: absolute
      display: inline-block
      top: 50%
      left: -20px
      transform: translateY(-50%)
      width: 15px
      height: 15px
      background: url(../images/svg/icon-checked.svg) no-repeat center

.section-question
  margin-top: -5rem
  margin-bottom: 5rem
  .title-box

    &::before
      display: none

    &::after
      display: none

.card__question
  .card
    max-width: 300px

    h4
      letter-spacing: 1px
      font-size: 1.3rem

.card__answer
  width: 100%

  h3
    padding: .5rem 0
    border-bottom: 2px solid $primary


  .card
    border: .2rem solid $primary
    background: white

    ul
      list-style-type: none
      padding: 0
      text-align: left

    li
      font-size: 1.3rem
      text-align: center

  .card__steps
    z-index: 2
    position: absolute
    top: -10%
    left: -10%
    max-width: 150px
    transform: rotate(-10deg)

    h4
      display: inline-block
      border-bottom: 2px solid red



.section-timeline

.timeline
  padding: 50px 0
  position: relative

.timeline-nodes
  margin: 5rem 0
  position: relative

  &:nth-child(even)
    flex-direction: row-reverse


.timeline

  h3, p
    color: $primary

  h3
    font-weight: bold

  &::before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 50%
    width: 0
    border-left: 6px solid $sub
    height: 100%
    z-index: 1
    transform: translateX(-50%)

// Overwrite bootstrap tab
.timeline-content
  padding-bottom: 100px
  position: relative
  border-radius: 0 0 10px 10px


  .tab-content
    position: relative
    z-index: 2
    border: 3px solid $primary
    background: white
    padding: 2rem 1rem

.nav-tabs
  z-index: 1
  border: 0
  top: -40px
  position: absolute

.nav-link
  letter-spacing: 2px
  background: white

.nav-tabs .nav-link
  opacity: .8

.nav-tabs .nav-link.active
  background: $primary
  border: 0
  color: $light
  opacity: 1
  font-weight: bold

.tab-pane__list
  list-style-type: none
  margin: 0
  padding: 0

  li
    border: 2px solid $primary
    margin: 1.3rem 0
    padding: .5rem
    transition: .3s

    &:hover
      background: $primary
      color: white

.tab-pane__list__price
  float: right

.tab-pane__postscript
  float: right


.timeline-nodes
  &:nth-child(odd)
    h3, p
      text-align: left

    .timeline-date
      text-align: left

  &:nth-child(even) .timeline-date
    text-align: right

  &:nth-child(odd) .timeline-content::after
    content: ""
    position: absolute
    top: 30%
    left: 100%
    width: 0
    border-left: 10px solid $primary
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent

  &:nth-child(even) .timeline-content::after
    content: ""
    position: absolute
    top: 30%
    right: 100%
    width: 0
    border-right: 10px solid $primary
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent

.timeline-image
  color: $light
  position: relative
  z-index: 100

  &::before
    content: ""
    width: 100px
    height: 100px

    border-radius: 50%
    display: block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $sub
    z-index: 1

  div
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    position: relative
    z-index: 100

  .timeline-image__number
    margin-top: -10px
    color: white
    position: relative
    font-size: 2rem
    font-weight: bold

    &::before
      position: absolute
      content: ''
      display: block
      left: -25%
      margin-top: 10px
      width: 150%
      height: 1px
      background: $light

.timeline__slider
  max-height: 300px
  object-fit: cover

  img
    width: 100%

.timeline__slider__figure
  padding: 4px
  color: $light
  text-align: center
  letter-spacing: 3px
  background: $primary
  border-radius: 5px

  figcaption
    margin: .3rem 0

.section-prove
  position: relative
  margin-top: -60px
  padding: 5rem 0
  background: url(../images/sectionbg-prove.jpg) no-repeat bottom
  background-size: cover

.section-data
  padding-top: 5rem

  &::before
    content: ''
    z-index: -1
    opacity: .2
    position: absolute
    display: block
    width: 100%
    height: 100%
    background: url(../images/timelineA6.jpg) no-repeat top
    background-size: contain


.section-counter
  padding: 5rem 0

.card-counter
  .card
    background: white
    overflow: hidden
    max-width: 300px
    color: $primary
    border: .3rem solid $primary

  .card-body
    padding: 0
    margin-bottom: 1rem

  h3
    padding: 1rem 0
    background: $primary
    color: white
    font-size: 2rem
    font-weight: bold

  h4
    color: $sub
    font-weight: bold
    font-size: 3rem

  small
    font-size: 1.2rem

.section-gallery

  .container-fluid
    background: $sub

  .title-box
    margin: 0
    color: $light

    &::before
      display: none
    &::after
      display: none

.slick-slider
  width: 100%


.big-gallery

  img
    width: 80%
    height: 100%
    margin: 0 auto

  .slick-center
    transform: scale(1.3)

// Filter gallery


.btn-default:active .filter-button:active
  background-color: #42B32F
  color: white

.port-image
  width: 100%

.gallery_product
  margin-bottom: 30px



.section-video

.video-content
  h3
    position: relative
    font-weight: bold

    &::before
      content: ''
      top: 5px
      left: -30px
      position: absolute
      display: block
      width: 20px
      height: 20px
      background: $sub

.video-lightbox
  display: inline-block
  width: 100%
  height: 100%
  position: relative

.video-lightbox__thumbnail
  max-height: 300px
  width: 100%
  object-fit: cover

.video-lightbox__playbutton
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  max-width: 300px

.section-signup
  background: $primary
  color: $light

  .title-box
    text-align: left
    margin: 1rem
    padding: 0
    margin-top: 2rem

  .title-box h2, .title-box h3
    color: $light


.form-signup
  background: white
  color: $primary
  padding: 2rem

  h3
    font-weight: bold
    font-size: 2rem

.section-feedback
  padding-bottom: 4rem

.footer
  padding: 5rem
  color: $light
  background: $primary-dark

.footer__logo
  max-width: 300px
  img
    width: 100%

.footer__copyright
  margin: 1rem 0
  letter-spacing: 2px

/*small device style
@media (max-width: 767px)
  .timeline-nodes
    &:nth-child(odd)
      h3, p
        text-align: left

    &:nth-child(even)
      flex-direction: row

  .timeline
    &::before
      content: ""
      display: block
      position: absolute
      top: 0
      left: 4%
      width: 0
      border-left: 2px dashed $primary
      height: 100%
      z-index: 1
      transform: translateX(-50%)

    h3
      font-size: 1.7rem

    p
      font-size: 14px

  .timeline-image
    position: absolute
    left: 0%
    top: 60px

    /*transform: translateX(-50%;);

  .timeline-nodes
    &:nth-child(odd) .timeline-content::after
      content: ""
      position: absolute
      top: 5%
      left: auto
      right: 100%
      width: 0
      border-left: 0
      border-right: 10px solid $primary
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent

    &:nth-child(even)
      .timeline-content::after
        content: ""
        position: absolute
        top: 5%
        right: 100%
        width: 0
        border-right: 10px solid $primary
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent

      .timeline-date
        text-align: left

  .timeline-image::before
    min-width: 100px
    min-height: 100px

/*extra small device style
@media (max-width: 575px)
  .timeline::before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 3%

  .timeline-image
    position: absolute
    left: -5%

    &::before
      width: 60px
      height: 60px
