@import "node_modules/slick-carousel/slick/css/slick"
@import "node_modules/slick-carousel/slick/css/slick"


//Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap"


body
  font-family: 'Noto Sans TC', sans-serif

section
  margin: 4rem 0

.section-hero
  height: 70vh
  background: lightgray
  color: white

  .jumbotron
    background: url("https://placekitten.com/g/1200/600") no-repeat center fixed
    display: flex
    align-items: center
    height: 100%

.text-block
  display: inline-block
  position: relative
  background: black
  color: white
  font-size: 1.5rem
  white-space: nowrap
  width: 100px
  height: 100px

  div
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)


.timeline
  padding: 50px 0
  position: relative

.timeline-nodes
  padding-bottom: 25px
  position: relative

  &:nth-child(even)
    flex-direction: row-reverse

.timeline
  h3, p
    padding: 5px 15px

  h3
    font-weight: lighter
    background: var(--blue)

  p, time
    color: var(--blue)

  &::before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 50%
    width: 0
    border-left: 2px dashed var(--blue)
    height: 100%
    z-index: 1
    transform: translateX(-50%)

.timeline-content
  border: 1px solid var(--blue)
  position: relative
  border-radius: 0 0 10px 10px
  box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2)

.timeline-nodes
  &:nth-child(odd)
    h3, p
      text-align: right

    .timeline-date
      text-align: left

  &:nth-child(even) .timeline-date
    text-align: right

  &:nth-child(odd) .timeline-content::after
    content: ""
    position: absolute
    top: 5%
    left: 100%
    width: 0
    border-left: 10px solid var(--blue)
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent

  &:nth-child(even) .timeline-content::after
    content: ""
    position: absolute
    top: 5%
    right: 100%
    width: 0
    border-right: 10px solid var(--blue)
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent

.timeline-image
  position: relative
  z-index: 100

  &::before
    content: ""
    width: 80px
    height: 80px
    border: 2px solid var(--blue)
    border-radius: 50%
    display: block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: #fff
    z-index: 1

  div
    position: relative
    z-index: 100

  span
    font-size: 1.5rem

/*small device style

@media (max-width: 767px)
  .timeline-nodes
    &:nth-child(odd)
      h3, p
        text-align: left

    &:nth-child(even)
      flex-direction: row

  .timeline
    &::before
      content: ""
      display: block
      position: absolute
      top: 0
      left: 4%
      width: 0
      border-left: 2px dashed var(--blue)
      height: 100%
      z-index: 1
      transform: translateX(-50%)

    h3
      font-size: 1.7rem

    p
      font-size: 14px

  .timeline-image
    position: absolute
    left: 0%
    top: 60px

    /*transform: translateX(-50%;);

  .timeline-nodes
    &:nth-child(odd) .timeline-content::after
      content: ""
      position: absolute
      top: 5%
      left: auto
      right: 100%
      width: 0
      border-left: 0
      border-right: 10px solid var(--blue)
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent

    &:nth-child(even)
      .timeline-content::after
        content: ""
        position: absolute
        top: 5%
        right: 100%
        width: 0
        border-right: 10px solid var(--blue)
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent

      .timeline-date
        text-align: left

  .timeline-image::before
    width: 65px
    height: 65px

/*extra small device style
@media (max-width: 575px)
  .timeline::before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 3%

  .timeline-image
    position: absolute
    left: -5%

    &::before
      width: 60px
      height: 60px

.gal
  -webkit-column-count: 3

  /* Chrome, Safari, Opera
  -moz-column-count: 3

  /* Firefox
  column-count: 3

  img
    width: 100%
    padding: 7px 0

@media (max-width: 500px)
  .gal
    -webkit-column-count: 1

    /* Chrome, Safari, Opera
    -moz-column-count: 1

    /* Firefox
    column-count: 1
